mixin hashtag(hashtag)
    if (hashtag === "All")
        div.hashtag-mixin.selected
            span.hashtag-mixin__text=hashtag
    else
        div.hashtag-mixin
            span.hashtag-mixin__text=hashtag
