// Config
@import "./config/_variables";
@import "./config/_reset";

// Components
@import "./components/header";
@import "./components/footer";
@import "./components/video";
@import "./components/shared";
@import "./components/forms";
@import "./components/social-login";
@import "./components/video-player.scss";

// Screens
@import "./screens/search";
@import "./screens/profile";
@import "./screens/edit-profile";
@import "./screens/upload";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $mainBg;
  color: white;
  a {
    color: inherit;
    text-decoration: none;
  }
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px;
  border-radius: 7px;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
  display: flex;
  background-color: white;
  .message__icon {
    display: block;
    & i {
      font-size: 32px;
    }
  }
  &.error {
    border-left: 7px solid #fd6262;
    .message__icon {
      color: #fd6262;
    }
  }
  &.info {
    border-left: 7px solid #ffc12b;
    .message__icon {
      color: #ffc12b;
    }
  }
  &.success {
    border-left: 7px solid #4ac860;
    .message__icon {
      color: #4ac860;
    }
  }
  .message__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    line-height: 16px;
    .title {
      color: #495057;
      font-weight: 700;
    }
    .subtitle {
      color: #adb5bd;
    }
  }
}
