extends base
include mixins/hashtag
include mixins/video

block sidebar
    include partials/sidebar

block content
    if hashtags.length > 0
        div.scroll-container
            div.hashtag-grid
                div.hashtag__left-arrow.close
                    div.hashtag__left-arrow-button
                        i.material-icons keyboard_arrow_left
                each hashtag in hashtags
                    +hashtag(hashtag)
                div.hashtag__right-arrow
                    div.hashtag__right-arrow-button
                        i.material-icons keyboard_arrow_right
    div.content.sibling-sidebar
        if videos.length > 0
            div.video-grid
                each video in videos
                    +video(video, uploadedTime)
        else
            span.empty__message No videos found

block scripts
    script(src="/static/js/videoMain.js")