div.dialog.close
    div.save__dialog
        div.save__header
            div.save__title
                span Save to...
            div.save__close
                i.material-icons close
        div.save__playlists
            div.save__checkbox
                input(type="checkbox" name="save")
            div.save__label
                span Watch later
                i.material-icons lock
