extends ../base

block sidebar
    include ../partials/drawer

block content
    div.container
        div.edit-profile
            form(method="POST")
                input(placeholder="Old Password" type="password" name="oldPassword")
                input(placeholder="New Password Password" type="password" name="newPassword")
                input(placeholder="New Password Confirmation" type="password" name="newPasswordConfirmation")
                input(value="Change Password" type="submit" name="")

block scripts
    script(src="/static/js/sidebarDrawer.js")