extends ../base
include ../mixins/video

block sidebar
    include ../partials/sidebar

block content
    div.content
        div.container
            div.profile__data
                if user.avatarUrl
                    if user.avatarUrl.includes("http")
                        img(src=user.avatarUrl).avatar
                    else
                        if user.avatarUrl
                            img(src="/" + user.avatarUrl).avatar
                else
                    div.avatar 😀
                h3=user.name
            if (user.videos)
                div.video-grid
                    each video in user.videos
                        +video(video, uploadedTime)
            else
                span.empty__message No videos found

block scripts
    script(src="/static/js/videoMain.js")